*{
  color: azure;
  background-color: #333333;
}

.checkout-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-left: 150px;
  gap: 45px;
  background-color: #333333;
  width:115%;
  max-width: 1200px;
  padding: 25px;
  border-radius: 75px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  min-height: 55vh;
}

.checkout-card{
    background-color: #333333;
    text-align: left;
    border-radius: 75px;
    border: none;
}

.card-body{
  background-color: #333333;
}

.no-bullets {
  list-style-type: none;
  padding: 0;
}

.checkout-item1 {
  background-color: #333333;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.img {
  max-height: 200px !important;
  max-width: 210px !important;
  width: 100% !important; /* Ensures the image scales to fit the max-width */
  height: 100% !important; /* Ensures the image scales to fit the max-height */
  object-fit: cover; /* Ensures the image maintains aspect ratio while fitting the dimensions */
}


.form-control1 {
  margin: 20px 0;
  background-color: #333333;
}

.shipping-input {
  background-color: #333333;
  margin-right: 10px;
}

.pay-buttons {
  background-color: #333333;
  border: none;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.card-text{
  background-color: #333333;
}

.product-info{
  background-color: #333333;
  display: flex;
  align-items: center; 
}

.price-info{
  background-color: #333333;
}

.info-icon{
  background-color: #333333;
  z-index: 1000;
  cursor: pointer;
}

.pay-now{
  color: rgb(252, 252, 252);
  border: none;
  border-radius: 10px;
}

.pay-now:hover{
  cursor: pointer;
  background-color: white;
  color: purple;
}

.shipping-options{
  background-color: #333333;
  color: rgb(252, 252, 252);
  border: none;
  border-radius: 10px;
}

