.checkout-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-left: 150px;
  gap: 45px;
  background-color: #252525;
  width:115%;
  max-width: 1000px;
  padding: 25px;
  border-radius: 75px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  min-height: 55vh;
}

.checkout-card{
    text-align: left;
    border-radius: 75px;
    border: none;
}

.no-bullets {
  list-style-type: none;
  padding: 0;
}

.checkout-item1 {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.checkout-img{
  max-height: 100px !important;
}

.img-fluid1 {
  max-width: 100%;
  height: auto;
}

.product-image1 {
  max-width: 100%;
  height: auto;
}

.form-control1 {
  margin: 20px 0;
}

.shipping-input {
  margin-right: 10px;
}

.pay-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.product-info{
   display: flex;
  align-items: center; 
}

.info-icon{
  z-index: 1000;
  cursor: pointer;
}